/*
 * FORMER
 * Contains SASS code for the demo page of Former
 */

@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

// Variables
$color_blue:		hsl(200,70%,50%);
$color_green:		hsl(160,70%,50%);
$color_gray_light:	hsl(0, 0%, 98%);
$color_gray:		hsl(0, 0%, 65%);
$color_gray_med:	hsl(0, 0%, 45%);
$color_gray_dark:	hsl(0, 0%, 25%);
$color_black:		hsl(0, 0%, 10%);
$color_svg:			$color_gray_med;
$color_svg_hover:	$color_gray_dark;
$color_svg_bg:		rgba(255,255,255,0.8);
$color_slider_bg:	rgba(48, 113, 164, 0.8);
$font:				'Lato', sans-serif;
$radius:			6px;

// Shared
body, p, h1, h2, h3, h4, h5, h6 {
	color: $color_gray_dark;
	font-family: $font;
	line-height: 1.5em;
}

h1 {
	font-size: 4em;
	font-weight: 400;
}
h2 {
	font-size: 1.3em; 
	color: $color_gray;
}
h3 {
	font-size: 1.8em;
	line-height: 2em;
	letter-spacing: 3px;
	color: $color_green;
	text-transform: uppercase;
	font-weight: 400;
}
h4 {
	font-size: 1.4em;
	line-height: 2.5em;
	letter-spacing: 2px;
	color: $color_gray;
	text-transform: uppercase;
	font-weight: 400;
}

a {
	color: $color_blue;
	text-decoration: none;
}

p {
	margin-bottom: 1em;
}

.button {
	&:hover {
		background: darken($color_green, 5%);
	}
	&:focus {
		background: darken($color_green, 10%);
	}
}

.badge {
	vertical-align: top;
	line-height: 1.4em;
	font-size: 0.6em;
}

.badge, .button {
    text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	padding: 6px;
	font-family: $font;
	border-radius: $radius;
	background: $color_green;
}

article {
	padding: 0 80px;
	margin-bottom: 70px;
	h1 {
		margin-top: 1.8em;
	}
	h2 {
		margin-bottom: 0.8em;
	}
	.title {
		margin-bottom: 3em;
	}
	.github {
		font-size: 0.3em;
	}
	.intro {
		font-size: 1.3em;
		letter-spacing: 0.4px;
		font-weight: 300;
		margin-top: 1em;
		margin-bottom: 1.5em;
	}
	section {
		margin-top: 3em;
		&:nth-child(3) {
			margin-top: 5em;
		}
	}
}

// Forms
form {
	background: $color_gray_light;
	margin: 20px 0;
    padding: 1em;
    border: 1px solid $color_gray;
    border-radius: $radius;
    div + div {
	    margin-top: 2em;
	}
	label { 
		min-width: 15%;
		display: inline-block;
	    text-align: right;
	}
	input, textarea {
		width: 300px;
		padding: 0.5em;
	    font: 1em sans-serif;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    border: 1px solid #999;
	}
	input:focus, textarea:focus {
	    border-color: #000;
	}
	textarea {
		vertical-align: top;
		height: 5em;
	}
	.button, button {
		font-size: 1em;
		margin-left: 15%;
	}
}

.former {
	position: relative;
	display: inline-block;

	textarea + .hovering_buttons {
		position: absolute;
		right: 5px;
		top: 2px;
		z-index: 999;
	}

	input + .hovering_buttons {
		position: absolute;
		right: 5px;
		top: 2px;
		bottom: 2px;
		z-index: 999;
	}
	&:hover .hovering_buttons {
		opacity: 1;
	}
	.timeline-change + .hovering_buttons {
		opacity: 0 !important;
	}
	.hovering_buttons {
		transition: 0.3s opacity;
		opacity: 0;
		background: $color_svg_bg;
	}
	.hovering_buttons svg {
		background: $color_svg_bg;
		fill: $color_svg;
		&:hover {
			fill: $color_svg_hover;
		}
	}
	.timeline {
		position: absolute;
		z-index: 1000;
		bottom: -20px;
		left: 0;
		right: 0;
		input[type=range] {
		  -webkit-appearance: none;
		  width: 100%;
		  margin: 4.5px 0;
		  border-top: none;
		  // background: none;
		}
		input[type=range]:focus {
		  outline: none;
		  border-color: inherit;
		}
		input[type=range]::-webkit-slider-runnable-track {
		  width: 100%;
		  height: 3px;
		  cursor: pointer;
		  background: $color_slider_bg;
		  border-radius: 25px;
		}
		input[type=range]::-webkit-slider-thumb {
		  box-shadow: 1px 1px 4px #2d2d2d, 0px 0px 1px #3a3a3a;
		  height: 12px;
		  width: 22px;
		  border-radius: 18px;
		  background: white;
		  cursor: pointer;
		  -webkit-appearance: none;
		  margin-top: -4.5px;
		}
		input[type=range]:focus::-webkit-slider-runnable-track {
		  background: rgba(64, 140, 199, 0.8);
		}
		input[type=range]::-moz-range-track {
		  width: 100%;
		  height: 3px;
		  cursor: pointer;
		  background: $color_slider_bg;
		  border-radius: 25px;
		}
		input[type=range]::-moz-range-thumb {
		  box-shadow: 1px 1px 4px #2d2d2d, 0px 0px 1px #3a3a3a;
		  height: 12px;
		  width: 22px;
		  border-radius: 18px;
		  background: white;
		  cursor: pointer;
		}
		input[type=range]::-ms-track {
		  width: 100%;
		  height: 3px;
		  cursor: pointer;
		  background: transparent;
		  border-color: transparent;
		  color: transparent;
		}
		input[type=range]::-ms-fill-lower {
		  background: rgba(36, 86, 125, 0.8);
		  border-radius: 50px;
		}
		input[type=range]::-ms-fill-upper {
		  background: $color_slider_bg;
		  border-radius: 50px;
		}
		input[type=range]::-ms-thumb {
		  box-shadow: 1px 1px 4px #2d2d2d, 0px 0px 1px #3a3a3a;
		  height: 12px;
		  width: 22px;
		  border-radius: 18px;
		  background: white;
		  cursor: pointer;
		  height: 3px;
		}
		input[type=range]:focus::-ms-fill-lower {
		  background: $color_slider_bg;
		}
		input[type=range]:focus::-ms-fill-upper {
		  background: rgba(64, 140, 199, 0.8);
		}

	}

	// Disables standard yellow background, instead highlighting border
	input:-webkit-autofill {
		&, &:hover, &:active, &:focus {
			border-color: hsl(60, 80%, 45%);
    		-webkit-box-shadow: 0 0 0 500px white inset;
    	}
	}
}
