/*
 * FORMER
 * Contains SASS code for the demo page of Former
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, p, h1, h2, h3, h4, h5, h6 {
  color: #404040;
  font-family: "Lato", sans-serif;
  line-height: 1.5em; }

h1 {
  font-size: 4em;
  font-weight: 400; }

h2 {
  font-size: 1.3em;
  color: #a6a6a6; }

h3 {
  font-size: 1.8em;
  line-height: 2em;
  letter-spacing: 3px;
  color: #26d99d;
  text-transform: uppercase;
  font-weight: 400; }

h4 {
  font-size: 1.4em;
  line-height: 2.5em;
  letter-spacing: 2px;
  color: #a6a6a6;
  text-transform: uppercase;
  font-weight: 400; }

a {
  color: #269dd9;
  text-decoration: none; }

p {
  margin-bottom: 1em; }

.button:hover {
  background: #22c38e; }
.button:focus {
  background: #1fad7e; }

.badge {
  vertical-align: top;
  line-height: 1.4em;
  font-size: 0.6em; }

.badge, .button {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  padding: 6px;
  font-family: "Lato", sans-serif;
  border-radius: 6px;
  background: #26d99d; }

article {
  padding: 0 80px;
  margin-bottom: 70px; }
  article h1 {
    margin-top: 1.8em; }
  article h2 {
    margin-bottom: 0.8em; }
  article .title {
    margin-bottom: 3em; }
  article .github {
    font-size: 0.3em; }
  article .intro {
    font-size: 1.3em;
    letter-spacing: 0.4px;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1.5em; }
  article section {
    margin-top: 3em; }
    article section:nth-child(3) {
      margin-top: 5em; }

form {
  background: #fafafa;
  margin: 20px 0;
  padding: 1em;
  border: 1px solid #a6a6a6;
  border-radius: 6px; }
  form div + div {
    margin-top: 2em; }
  form label {
    min-width: 15%;
    display: inline-block;
    text-align: right; }
  form input, form textarea {
    width: 300px;
    padding: 0.5em;
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999; }
  form input:focus, form textarea:focus {
    border-color: #000; }
  form textarea {
    vertical-align: top;
    height: 5em; }
  form .button, form button {
    font-size: 1em;
    margin-left: 15%; }

.former {
  position: relative;
  display: inline-block; }
  .former textarea + .hovering_buttons {
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 999; }
  .former input + .hovering_buttons {
    position: absolute;
    right: 5px;
    top: 2px;
    bottom: 2px;
    z-index: 999; }
  .former:hover .hovering_buttons {
    opacity: 1; }
  .former .timeline-change + .hovering_buttons {
    opacity: 0 !important; }
  .former .hovering_buttons {
    transition: 0.3s opacity;
    opacity: 0;
    background: rgba(255, 255, 255, 0.8); }
  .former .hovering_buttons svg {
    background: rgba(255, 255, 255, 0.8);
    fill: #737373; }
    .former .hovering_buttons svg:hover {
      fill: #404040; }
  .former .timeline {
    position: absolute;
    z-index: 1000;
    bottom: -20px;
    left: 0;
    right: 0; }
    .former .timeline input[type=range] {
      -webkit-appearance: none;
      width: 100%;
      margin: 4.5px 0;
      border-top: none; }
    .former .timeline input[type=range]:focus {
      outline: none;
      border-color: inherit; }
    .former .timeline input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: rgba(48, 113, 164, 0.8);
      border-radius: 25px; }
    .former .timeline input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 4px #2d2d2d, 0px 0px 1px #3a3a3a;
      height: 12px;
      width: 22px;
      border-radius: 18px;
      background: white;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -4.5px; }
    .former .timeline input[type=range]:focus::-webkit-slider-runnable-track {
      background: rgba(64, 140, 199, 0.8); }
    .former .timeline input[type=range]::-moz-range-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: rgba(48, 113, 164, 0.8);
      border-radius: 25px; }
    .former .timeline input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 4px #2d2d2d, 0px 0px 1px #3a3a3a;
      height: 12px;
      width: 22px;
      border-radius: 18px;
      background: white;
      cursor: pointer; }
    .former .timeline input[type=range]::-ms-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .former .timeline input[type=range]::-ms-fill-lower {
      background: rgba(36, 86, 125, 0.8);
      border-radius: 50px; }
    .former .timeline input[type=range]::-ms-fill-upper {
      background: rgba(48, 113, 164, 0.8);
      border-radius: 50px; }
    .former .timeline input[type=range]::-ms-thumb {
      box-shadow: 1px 1px 4px #2d2d2d, 0px 0px 1px #3a3a3a;
      height: 12px;
      width: 22px;
      border-radius: 18px;
      background: white;
      cursor: pointer;
      height: 3px; }
    .former .timeline input[type=range]:focus::-ms-fill-lower {
      background: rgba(48, 113, 164, 0.8); }
    .former .timeline input[type=range]:focus::-ms-fill-upper {
      background: rgba(64, 140, 199, 0.8); }
  .former input:-webkit-autofill, .former input:-webkit-autofill:hover, .former input:-webkit-autofill:active, .former input:-webkit-autofill:focus {
    border-color: #cfcf17;
    -webkit-box-shadow: 0 0 0 500px white inset; }
